<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
</head>
<body>
  <h1>Center Div</h1>
  <div class="container">
    <mat-card class="sub-container">
      <mat-card>
        <form>
          <div class="sub-form">
            <h4>display:</h4>
              <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="selectedValue" name="dis">
                    <mat-option *ngFor="let dis of display" [value]="dis.viewValue">
                      {{dis.viewValue}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="sub-form">
            <h4>flex-direction:</h4>
              <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="selectedDirection" name="direc">
                    <mat-option *ngFor="let direc of direction" [value]="direc.viewValue">
                      {{direc.viewValue}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="sub-form">
            <h4>justify-content:</h4>
              <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="selectedJustify" name="justi">
                    <mat-option *ngFor="let justi of justify" [value]="justi.viewValue">
                      {{justi.viewValue}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="sub-form">
            <h4>align-item:</h4>
              <mat-form-field appearance="fill">
                  <mat-select [(ngModel)]="selectedAlign" name="alig">
                    <mat-option *ngFor="let alig of align" [value]="alig.viewValue">
                      {{alig.viewValue}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="sub-form">
            <h4>height:</h4>
              <mat-form-field appearance="fill">
                
                  <mat-select [(ngModel)]="selectedHeight" name="heigh">
                    <mat-option *ngFor="let heigh of height" [value]="heigh.viewValue">
                      {{heigh.viewValue}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="try()">Test</button>
        </form>
      </mat-card>
      <div class="canvas">
        <div id="blocks">
          <div class="red">
            <p>1</p>
          </div>
          <div class="blue">
            <p>2</p>
          </div>
        </div>
      </div>
    </mat-card>
    
  </div>
</body>
</html>

